img {
    width: 30%;
    margin: calc(10%/6);
    border-radius: 0.75em 0.75em;
} 

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 2.0em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 48%;
    margin-left: calc(10%/6);
    padding: 1em 0;
}