nav {
    display: inline-block;
    text-align: right;
    /* outline: 1px solid blue; */
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 3px solid green; */
    direction: rtl;
}
  
li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
  
a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out;
}
  
a:hover {
    background-color: #f1f1f1;
    color: #333;
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
  
img {
    width: 30%;
    margin: calc(10%/6);
    border-radius: 0.75em 0.75em;
    
} 

img:hover {
    transform: scale(1.08);
    transition: transform 0.1s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b4a4a;
    color: #fff;
    padding: 1em;
    border-bottom: 5px solid #333;
}

header div {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.divHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameHeader {
    font-family: 'Raleway', sans-serif;
    float: left;
    font-size: 2.4em;
}

div {
    outline: 2px solid transparent;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    align-items: center;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b4a4a;
}

p {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 786px) {
    nav ul {
        display: none !important;
    }
    
    .menuIcon {
        display: block !important;
    }

    .menuIcon:focus + nav ul {
        display: block;
    }
}

.menuIcon {
    border: none;
    display: none;
    float: right;
    font-size: 2em;
    background-color: transparent;
    color: #fff;
    font-family: 'Raleway', sans-serif;   
    margin-bottom: auto;
}

.menuIcon:hover {
    transform: scale(1.5);
    transition: transform 0.1s ease-in-out;
}

.menuIcon:focus + nav ul {
    display: block;
}

#navMenu .menuItems {
    display: block;
}

#navMenu.show .menuItems {
    display: block;
}